<script setup>
import { ref, reactive } from 'vue';
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
import JetButton from '@/Jetstream/Button.vue';
import InputError from '@/Jetstream/InputError.vue';
import JetLabel from '@/Jetstream/Label.vue';
import AppLayout from '@/Layouts/AppLayout.vue';

const props = defineProps({
	balances: {
        type: Object,
        default: {},
    },
	title: {
        type: String,
        default: null,
    },
	form_type: {
        type: String,
        default: null,
    },
	route_url: {
        type: String,
        default: null,
    },
    breadcrumb: {
        type: Object,
        default: {},
    },
});

const form = useForm({
	_method: "POST",
    account_number: "",
    amount: "",
});

const createModel = () => {
    form.post(props.route_url, {
        errorBag: 'createModel',
        preserveScroll: true,
        onSuccess: () => true,
    });
};

</script>

<template>
    <AppLayout :title="title" >
        <div>
            <div class="max-w-7xl mx-auto py-10 sm:px-6 lg:px-8">
				<!-- card start -->
				<div class="max-w-full rounded bg-white overflow-hidden shadow-lg">
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">{{title}} | Balance</div>
						<div class="grid grid-cols-12 gap-6 mt-5">
							<div class="col-span-12 sm:col-span-6 xl:col-span-10 intro-y">
								<p class="text-gray-900 text-4xl">
									{{ balances?.formattedBalanceAt ?? 0 }}
								</p>
							</div>
							<div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y">
								
							</div>
						</div>
						
						<div>
							<form @submit.prevent="createModel">
								<div class="mt-4">
									<JetLabel for="account_number" value="Account Number | BCA,BRI,BSI, ETC" />
									<input
										v-model="form.account_number"
										type="text"
										class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full"
									/>
									<InputError :message="form.errors.account_number" class="mt-2" />
								</div>

								<div class="mt-4">
									<JetLabel for="amount" value="Amount" />
									<input
										v-model="form.amount"
										type="text"
										class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full"
									/>
									<InputError :message="form.errors.amount" class="mt-2" />
								</div>

								<div class="flex items-center justify-end mt-4">
									<JetButton type="submit" class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
										Send {{ title }}
									</JetButton>
								</div>
								
							</form>
						</div>
					</div>
				</div>
				<!-- card end -->		
			</div>
		</div>
	</AppLayout>
</template>
