<script setup>
import { ref, reactive } from 'vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import Pagination from '@/Jetstream/Pagination.vue';

import { Link } from '@inertiajs/inertia-vue3';

const props = defineProps({
	models: {
        type: Object,
        default: {},
    },
	balances: {
        type: Object,
        default: {},
    },
	search: {
        default: null,
    },
	title: {
        type: String,
        default: null,
    },
    breadcrumb: {
        type: Object,
        default: {},
    },
});

</script>

<template>
    <AppLayout :title="title" >
        <div>
            <div class="max-w-7xl mx-auto py-10 sm:px-6 lg:px-8">
				<!-- card start -->
				<div class="max-w-full rounded bg-white overflow-hidden shadow-lg">
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">Balance</div>
						<div class="grid grid-cols-12 gap-6 mt-5">
							<div class="col-span-12 sm:col-span-6 xl:col-span-10 intro-y">
								<p class="text-gray-900 text-4xl">
									{{ balances?.formattedBalanceAt ?? 0 }}
								</p>
							</div>
							<div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y">
								<a :href="route('withdrawals.create')" class="bg-blue-500 w-100 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
									Withdrawal
								</a>
							</div>
						</div>
						
					</div>
				</div>
				<!-- card end -->

				<!-- start -->
				<div class="relative overflow-x-auto mt-7">
					<table class="w-full text-sm text-left text-gray-500">
						<thead class="text-xs text-gray-700 uppercase bg-gray-50">
							<tr>
								<th scope="col" class="px-6 py-3">
									Order ID
								</th>
								<th scope="col" class="px-6 py-3">
									Kredit
								</th>
								<th scope="col" class="px-6 py-3">
									Debit
								</th>
								<th scope="col" class="px-6 py-3">
									Created At
								</th>
							</tr>
						</thead>
						<tbody>
							<tr class="bg-white border-b" v-for="(item, index) in models.data" :key="index" >
								<th scope="row" class="px-6 py-4 border">
									{{ item?.order?.order_id }}
								</th>
								<td class="px-6 py-4 text-right border">
									<template v-if="item?.order?.type=='kredit'">{{ item?.order?.formattedAmountAt }}</template>
								</td>
								<td class="px-6 py-4 text-right border">
									<template v-if="item?.order?.type=='debit'">{{ item?.order?.formattedAmountAt }}</template>
								</td>
								<td class="px-6 py-4 text-center border">
									{{ item?.order?.formattedCreatedAt }}
								</td>
							</tr>
						</tbody>
					</table>

					<Pagination :links="models.links" />
				</div>
				<!-- end -->				
			</div>
		</div>
	</AppLayout>
</template>
