<script setup>
import { computed } from 'vue';
import AppLayout from '@/Layouts/AppLayout.vue';

const props = defineProps({
	title: {
        type: String,
        default: null,
    },
    breadcrumb: {
        type: Object,
        default: {},
    },
    api: {
        type: Object,
        default: {},
    },
});


const prety_json_body = computed(() => JSON.stringify(JSON.parse(props.api.body), null, 2));

</script>

<template>
    <AppLayout :title="title" >
        <div>
            <div class="max-w-7xl mx-auto py-10 sm:px-6 lg:px-8">
				<!-- card start -->
				<div class="max-w-full rounded bg-white overflow-hidden shadow-lg">
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">Api Docs Post Depost</div>
						<div class="grid grid-cols-12 gap-6 mt-5">
							<div class="col-span-12 sm:col-span-6 xl:col-span-10 intro-y">
								<table class="w-full text-sm text-left text-gray-900">
									<tbody class="divide-y divide-gray-200">
										<tr class="bg-white border-b">
											<td class="px-6 py-4">Method</td>
											<td class="px-6 py-4" width="10px">:</td>
											<td class="px-6 py-4">HTTP POST</td>
										</tr>
										<tr class="bg-white border-b">
											<td  class="px-6 py-4" >Authorization</td>
											<td  class="px-6 py-4" >:</td>
											<td  class="px-6 py-4" >Bearer Token</td>
										</tr>
										<tr class="bg-white border-b">
											<td  class="px-6 py-4" >Token</td>
											<td  class="px-6 py-4" >:</td>
											<td  class="px-6 py-4" >{{ api?.token }}</td>
										</tr>
										<tr class="bg-white border-b">
											<td  class="px-6 py-4" >Endpoint</td>
											<td  class="px-6 py-4" >:</td>
											<td  class="px-6 py-4" >{{ api?.url }}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y">
								
							</div>
						</div>
						
					</div>
				</div>
				<!-- card end -->	

				<!-- card start -->
				<div class="max-w-full rounded bg-white overflow-hidden shadow-lg mt-4">
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">Json Body</div>
						<div class="grid grid-cols-12 gap-6 mt-5">
							<div class="col-span-12 sm:col-span-6 xl:col-span-10 intro-y ">
								<pre class="mt-4 text-gray-900" v-html="prety_json_body"></pre>
							</div>
							<div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y">
								
							</div>
						</div>
						
					</div>
				</div>
				<!-- card end -->			
			</div>
		</div>
	</AppLayout>
</template>
